/* 
CONTACTO
*/
.legend {
        font-size: 1.25;
        margin-left: 50px;
        margin-right: 50px;

}
.contactoTitle {
        font-size: 2.5rem;
        text-align: center;
        color: black;
}
.contactoMapa {
        align-items: center;
    }
    