@keyframes una_escala {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(0.6);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
