.footer {
    background-color: rgb(192, 212, 248);
    padding: 50px 0;
}
.footerRow {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footerMenu, .footerLinks {
    width: 25%;
    display: flex;
    justify-content: center;
}
.footerMenu ul {
    list-style: none;
}
.footerMenu ul li {
    margin-top: 5px;
}


.footerLinks {
    margin-left: 10px;
}
.footerLinks img {
    height: 40px;
    padding-left: 5px;
}