/* 
GENERAL
*/
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'times new roman', Courier, serif;
    background-image: linear-gradient(to top, white, rgb(192, 212, 248));
}
  
header{
    grid-area: botonera;
}

section {
    grid-area: section;
}

footer{
    grid-area: links;
}

/* 
fuente h1,etc.
*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'times new roman', Courier, serif;
    text-align: center;
    color: black;
}

a {
    color: orange;
    text-decoration: none;
}

@mixin indexNovedades {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 8%;
    padding: 16px;
    border: solid 15px black; 
}