@media (max-width: 1200px) {
    .carousel-item{
      margin-left: 40px;}

    }
    .descripcionNosotros {
      height: 100%;
    }

  
  @media (max-width: 800px) {
  
  
    .footer{
      display: flex;
      flex-direction: column;
    }
    h4{
      font-size: 10px;
    }
  
    .index{
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 50%;
    }
  
    .indexVideo{
      height: 100%;
    }
  
    .nosotros{
      height: 60%;
    }
  
    .nosotrosDescripcion{
      font-size: 25px;
  
    }
  

  }
  
  @media (max-width: 400px) {
    .footerRow{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footerMenu{
      margin-bottom: 20px;
    }
  
    .footerLinks{
      margin-bottom: 25px;
      margin-top: 50px;
    }
  
    .index{
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 50%;
    }
  
    .footerLinks{
      width: 30%;
    }
  
    .indexVideo{
      height: 100%;
    }
  
    .nosotros{
      height: 50%;
    }
  
    .nosotrosTitle{
      font-size: 20px;
    }
  
    .nosotrosDescripcion{
      font-size: auto;
    }
  
    .novedadesTitle{
      font-size: 20px;
    }
  
    .tableTitle{
      font-size: 10px;
    }
  
  
    .containerVideo{
      width: 20%;
      height: 20%;
  
    }
  
    .containerFoto{
      width: 20%;
      height: 20%;
  
    }
  
    h4{
      font-size: 10px;
    }
  }
