/* 
NOVEDADES
*/
.novedades {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    font-size: 1.25rem;
    line-height: 1.8;
    margin-left: auto;
    margin-right: auto; }
    .novedadesTitle {
      font-weight: 800;
      font-size: 2.5rem;
      color: black;
      text-align: center;
      padding: 0px; }
    .novedadesEventos {
      margin: 5%;
      padding: 16px;
      border: solid 15px black;
      font-size: 1.25rem; }
    .novedadesVideo, .novedades #pintandoexterior {
      border: solid 5px black; }
    .novedadesnovedadesIntervention {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block; 
    }

    #pintandoexterior {
        @extend .novedadesVideo;
}



.tableTitle {
    background-color: rgb(192, 212, 248) ;
}
