.index {
    background-image: url("/imagenes/pinceles.jpeg");


    &Title {
        font-size: 2rem;
        text-align: center;
        color: black;
    }
    &Video {
        border: solid 5px black;
    }
}