@mixin pages($repeat, $posicion, $tamano, $margen, $padd, $borde){
    background-repeat: $repeat;
    background-position:  $posicion;
    background-size: $tamano;
    margin: $margen;
    padding: $padd;
    border: $borde; 
}
@mixin mixinPaginas {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 8%;
    padding: 16px;
    border: solid 15px black; 
}